
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  color: rgb(96 101 123);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: rgb(255 255 255);
  position: relative;
}

.container {
  padding: 30px;
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  color: rgb(43 45 56);
  text-align: center;
  font-size: 48px;
  letter-spacing: -0.2px;
  font-family: "Merriweather", serif;
}

p {
  max-width: 50rem;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 100px;
}

.main-content {
  max-width: 50rem;
  width: 600px;
  height: 100px;
  padding: 18px 18px 120px 18px;
  position: relative;
  resize: none;
  box-shadow: 0 12px 48px 0px rgb(109 117 141 / 20%);
  background: rgb(255 255 255);
  border: 0.5px solid rgb(231 233 245);
  border-radius: 16px;
  box-shadow: 0.5px 0.5px 8px;
  margin-bottom: 10px;
  max-height: 100%;
  height: auto;


}

.user-content {
  max-width: 600px;
  height: 300px;
  width: 100%;
  min-height: 100%;
  height: auto;
  padding: 18px 18px 120px 18px;
  position: relative;
  resize: none;
  box-shadow: 0 12px 48px 0px rgb(109 117 141 / 20%);
  background: rgb(255 255 255);
  border: 0.5px solid rgb(231 233 245);
  border-radius: 16px;
  box-shadow: 0.5px 0.5px 8px;
  margin-bottom: 50vh;


}
.result{
  margin-top: 5px;
}
.author{
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  background-color: white;


}

.main-content:focus {
  border: 0.3px solid rgb(43, 45, 56, 0.3);
  outline: none;
}

p,
.main-content {
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.6;
  max-width: 600px;

}

.btn-style{
  display: flex;
  position: fixed;
  bottom: 25px;
  left: 0;
  background-color: white;
  box-shadow: 0.5px 0.5px 8px;
  column-gap: 25px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;


}

button {
  /* position: absolute; */
  background: rgb(17 166 131);
  color: rgb(255 255 255);
  border: none;
  font-size: 25px;
  letter-spacing: 1px;
  display: flex;
  cursor: pointer;
  padding: 25px;
  font-weight: bold;
  border-radius: 20px;
  padding-right: 40px;
  padding-left: 40px;



}

button:focus,
button:hover {
  background: rgb(42, 201, 164);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}



.counter-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 768px) {
  .btn-style{
    bottom: 5%;


  }
  .container {
    margin-top: 20px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    word-spacing: normal;
    margin-bottom: 40px;
    margin-top: 15px;
  }

  .main-content {
    /*border:1px solid*/
    font-size: 16px;
    word-spacing: normal;
    max-width: 300px;
  }
  .user-content {
    /*border:1px solid*/
    font-size: 16px;
    word-spacing: normal;
    width: 300px;
    max-width: 300px;
  }

  button {
    font-size: 22px;
  }

  .counter-container {
    flex-direction: column;
  }

  .counter-container p:first-child {
    margin-bottom: 0;
  }
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text)
}
